html{
	100%;
	background-color:#f4f4f4;
}

body{
	padding:0;
	margin:0 auto;
	background: -moz-linear-gradient(top, #fdf7ed, #f4f4f4);
	background: -webkit-gradient(linear, left top, left bottom, from(#fdf7ed), to(#f4f4f4));
}



a img { border-style: none; }
a { text-decoration: none; }
a.folio_menu1{ display: block; color:#222; }
a.folio_menu2{ display: block; color:#222; }
a.folio_menu3{ display: block; color:#222; }
a img { border-style:none; }
.inbox_text a{ color:#bffd00; }

/*********** clear ***********/
.clear{ clear:both; display:block; visibility:hidden; }

/*********** タイトル ***********/
.title{
	text-align:right;
	margin:0 200px 0 160px;
	line-height:0.5em;
	font-size:20em;
	font-family: 'Quattrocento','HiraMinPro-W3', arial, serif;
}

html>body .title {
	margin:0px 180px 0 50px;
	line-height:0.65em;
}

html>/**/body .title {
	margin:0px 180px 0 150px;
	font-size:20em\9;
	line-height:0.68em\9;
}

/*********** サブタイトル ***********/
#info_site{
	width:100%;
	text-align:center;
	margin:70px auto 0 auto;
}

/*********** 左カラム ***********/
.container{
	width:100px;
	margin:0;
	position:fixed;
	z-index:1;
}

/*********** 右カラム ***********/
.content{
	width:800px;
	margin:0 auto;
	z-index:2;
}

/*********** コンテンツタイトル ***********/
h2{
	font-size:3em;
	color:#37bed2;
	font-family: 'Quattrocento', arial, serif;
	margin-top:50px;
}

/*********** テキスト ***********/
h3{
	font-size:1.2em;
	font-weight:400;
	line-height:1.3em;
	color:#222;
	font-family: 'Quattrocento','HiraMinPro-W3', arial, serif;
}

/*********** About ***********/
h4{
	font-size:1em;
	font-weight:400;
	line-height:1.3em;
	color:#222;
	margin-top:0;
	font-family: 'Quattrocento','HiraMinPro-W3', arial, serif;
}
h4 p{
	margin:0;
	padding-top:0em;
	line-height:1.3em;
	color:#C00618;	
}

/*********** メニューボックス設定 ***********/
.transition{
	height: 70px;
	font-size:3em;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight:bold;
	text-align:right;

	-moz-transition-property: background-color, width, height;
	-webkit-transition-property: background-color, width, height;
	-o-transition-property: background-color, width, height;
	-ms-transition-property: background-color, width, height;

	-moz-transition-duration:.4s;
	-webkit-transition-duration:.4s;
	-o-transition-duration:.4s;
	-ms-transition-duration:.4s;

	-moz-transition-timing-function:ease-in-out;
	-webkit-transition-timing-function:ease-in-out;
	-o-transition-timing-function:ease-in-out;
	-ms-transition-timing-function:ease-in-out;
}

/*********** ABOUT ***********/
.about{
	width:250px;
	background-color:#007698;
	text-shadow: 0px -1px 0px #000;
	margin-left:-220px;
	-webkit-animation: 'about' 0.5s ease-in-out 2.1s 2 alternate;
	-moz-animation: about 0.5s ease-in-out 2.1s 2 alternate;
}
.about:hover {
	background-color: #00a0e9;
	width: 505px;
}
@-webkit-keyframes 'about' {
0% {}
100% { -webkit-transform: translate(15px,0); }
}
@-moz-keyframes about {
0% {}
100% { -moz-transform: translate(15px,0); }
}

/*********** PORTFOLIO ***********/
.folio{
	width:550px;
	background-color:#954068;
	text-shadow: 0px -1px 0px #000;
	margin-left:-520px;
	z-index:2;
	-webkit-animation: 'folio' 0.5s ease-in-out 1.9s 2 alternate;
	-moz-animation: folio 0.5s ease-in-out 1.9s 2 alternate;
}
.folio:hover {
	background-color:#e4007f;
	width: 917px;
	z-index:2;
}
@-webkit-keyframes 'folio' {
0% {}
100% { -webkit-transform: translate(15px,0); }
}
@-moz-keyframes folio {
0% {}
100% { -moz-transform: translate(15px,0); }
}

/*********** PHOTO ***********/
.photo{
	width:250px;
	background-color:#a0983a;
	text-shadow: 0px -1px 0px #000;
	margin-left:-220px;
	z-index:3;
	-webkit-animation: 'photo' 0.5s ease-in-out 1.7s 2 alternate;
	-moz-animation: photo 0.5s ease-in-out 1.7s 2 alternate;
}
.photo:hover {
	background-color: #fff100;
	width: 505px;
	z-index:3;
}
@-webkit-keyframes 'photo' {
0% {}
100% { -webkit-transform: translate(15px,0); }
}
@-moz-keyframes photo {
0% {}
100% { -moz-transform: translate(15px,0); }
}

/*********** LAB ***********/
.lab{
	width:250px;
	background-color:#238C35;
	text-shadow: 0px -1px 0px #000;
	margin-left:-220px;
	-webkit-animation: 'lab' 0.5s ease-in-out 1.5s 2 alternate;
	-moz-animation: lab 0.5s ease-in-out 1.5s 2 alternate;
}
.lab:hover {
	background-color: #37DD54;
	width: 425px;
}
@-webkit-keyframes 'lab' {
0% {}
100% { -webkit-transform: translate(15px,0); }
}
@-moz-keyframes lab {
0% {}
100% { -moz-transform: translate(15px,0); }
}

/*********** CONTACT ***********/
.contact{
	width:120px;
	background-color:#444;
	border-radius:0 15px 15px 0;
	z-index:2;
	font-size:1.3em;
	text-align:center;
}

/*********** メニュー文字 ***********/
.menu{
	top:50%;
	left:25px;
	margin:-20px 50px 0 0;
}
a.menu{
	display: block;
	color:#ddd;
	-moz-transition-duration:.7s;
	-webkit-transition-duration:.7s;
	-o-transition-duration:.7s;
	-ms-transition-duration:.7s;

	-moz-transition-timing-function:ease-in-out;
	-webkit-transition-timing-function:ease-in-out;
	-o-transition-timing-function:ease-in-out;
	-ms-transition-timing-function:ease-in-out;
}
a.menu:hover{
	color:#222;
}

/*********** CONTACT文字 ***********/
.menu2{
	top:50%;
	left:25px;
	margin:0;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
a.menu2{
	color:#eee;
	display: block;
	-moz-transition-duration:.4s;
	-webkit-transition-duration:.4s;
	-o-transition-duration:.4s;
	-ms-transition-duration:.4s;

	-moz-transition-timing-function:ease-in-out;
	-webkit-transition-timing-function:ease-in-out;
	-o-transition-timing-function:ease-in-out;
	-ms-transition-timing-function:ease-in-out;
}
a.menu2:hover{
	color:#37bed2;	
}

/*********** LABリスト ***********/
li{
	font-family: 'Quattrocento','HiraMinPro-W3', arial, serif;
	margin:5px 0;
}

/*********** リンク部分 ***********/
.linkcolor{
	color:#0076B1;
	padding:2px 4px;
}
.linkcolor:hover{
	background-color:#ddd;
	border-radius:5px;
}

/*********** 更新履歴 ***********/
#update{
	width:150px;
	margin-top:-20px;
	margin-left:10px;
	line-height:140%;
	font-size:0.8em;
	color:#222;
	font-family: 'Crimson Text', arial, serif;
}

/*********** フッター ***********/
.footer{
	width:100%;
	text-align:center;
}

/*********** TOP移動 ***********/
#back-top {
	position: fixed;
	bottom: 20px;
	left:0;
}

/*********** コピーライト ***********/
.copy{
	font-size:0.6em;
	margin:0 10px 10px 0;
}

/*********** マージン類 ***********/
.title_margin{
	height:100px;
}

.margin{
	height:300px;
}
.half_margin{
	height:150px;
}

.margin_border{
	height:300px;
	border:1px;
	border-bottom-style: dashed;
}