body{
	padding:0;
	margin:0 auto;
}

/*********** clear ***********/
.clear{ clear:both; display:block; visibility:hidden; }

/*********** タイトル ***********/


/*********** SNSリンク ***********/
.profileBox{
	margin: 0 auto;
	width:700px;
		
	display: -webkit-flex;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
	-webkit-flex-direction: row;
	-webkit-flex-wrap:wrap;

	display: -moz-box;
	-moz-box-pack: justify;
	-moz-box-align: center;
	-moz-flex-direction: row;
	-moz-flex-wrap: wrap;
	
	display: box;
	box-pack: justify;
	box-align: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.boxItem{
	width: 100px;
	height: 100px;
	margin: 20px;
	text-align: center;
	
}



@media screen and (max-width: 640px) {

.profileBox{
	margin: 0 auto;
	width:305px;
	padding-top: 40px;
		
	display: -webkit-flex;
	-webkit-box-align: justify;
	-webkit-flex-direction: row;
	-webkit-flex-wrap:wrap;
	-webkit-justify-content:space-between;

	display: -moz-box;
	-moz-box-pack: justify;
	-moz-box-align: center;
	-moz-flex-direction: row;
	-moz-flex-wrap: wrap;
	-moz-justify-content:space-between;
	
	display: box;
	box-pack: justify;
	box-align: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-between;
	
	background: #FFFFFF;
}

.boxItem{
	height: 110px;
	margin: 0px;
	text-align: center;
}

.boxItem img{
	width: 90px;
	height: 90px;
}
}