body{
	padding:0;
	margin:0 auto;
	background: -moz-linear-gradient(top, #fdf7ed, #f4f4f4);
	background: -webkit-gradient(linear, left top, left bottom, from(#fdf7ed), to(#f4f4f4));
}

/*********** clear ***********/
.clear{ clear:both; display:block; visibility:hidden; }

/*********** タイトル ***********/


/*********** SNSリンク ***********/
.profileBox{
	margin: 0 auto;
	width:800px;
		
	display: -webkit-flex;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
	-webkit-flex-direction: row;
	-webkit-flex-wrap:wrap;

	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	-moz-flex-direction: row;
	-moz-flex-wrap: wrap;
	
	display: box;
	box-pack: justify;
	box-align: center;
	flex-direction: row;
	flex-wrap: wrap;
		
	background: #888;
}

.boxItem{
	width: 100px;
	height: 100px;
	margin: 20px;
	text-align: center;
	
}



@media screen and (max-width: 640px) {
.profileBox{
	margin: 0 auto;
	width:320px;
		
	display: -webkit-flex;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
	-webkit-flex-direction: row;
	-webkit-flex-wrap:wrap;

	display: -moz-box;
	-moz-box-pack: justify;
	-moz-box-align: center;
	-moz-flex-direction: row;
	-moz-flex-wrap: wrap;
	
	display: box;
	box-pack: justify;
	box-align: center;
	flex-direction: row;
	flex-wrap: wrap;
		
	background: #888;
}

.boxItem{
	width: 80px;
	height: 140px;
	margin: 10px;
	text-align: center;
	
}
}